

body {
   font-family: Arial, Helvetica, sans-serif;
}

.footer {
    color: #888888;
    font-size: 13px;
    text-align: right;
}

#states path {
  fill: #ccc;
  stroke: #fff;
}

circle {
  fill: steelblue;
  fill-opacity: .6;
  stroke: #fff;
}
