body {
  font-family: 'Railway', sans-serif;
  background-color: rgba(255, 255,255, 1.0);
  color: hsla(0, 10%, 10%, 1.0);
  margin: 2em;
  font-size: 12pt;
}

h1,
strong {
  color: hsla(0, 15%, 40%, 1.0);
  text-transform: uppercase;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 1.5em;
  margin-bottom: 0em;
}


h2 {
  color: hsla(0, 15%, 40%, 1.0);
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: .1em;
  margin-bottom: 0em;
}

.sliderItem {
  width:1000px;
  margin-top:10px;
  margin-bottom:20px;
}
