body {
  font-family: 'Railway', sans-serif;
  background-color: rgba(255, 255,255, 1.0);
  color: hsla(0, 10%, 10%, 1.0);
  margin: 2em;
  font-size: 12pt;
}

h1,
strong {
  color: white;
  font-size: 48px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 0.2em;
  margin-bottom: 0em;
}


h2 {
  font-size: 24px;
  color: white;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: .1em;
  margin-bottom: 0em;
}

p {
    color: rgba(43,81,113, 1.0);
}

.sliderItem {
  width:650px;
  margin-top:-120px;
  margin-left: 100px;
  margin-bottom:70px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: 32px;
    padding-top: 2px;
    padding-right: 12px;
    padding-bottom: 2px;
    padding-left: 12px;
    font: 12px sans-serif;
    background: rgba(255,255,255,1);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: rgba(0,0,0,1);
}

.icon{
  width: 280;
  margin-top:75px;


}

.plot {
    position: left;
    height: 300px;
}

.plot2 {
    position: left;
    width: 750px;
}

.empty{
  width: 300px;
  height: 1000px;
}

.col-lg-3 {
    background: rgba(83,121,153, 0.5);
}
.col-med-3
{
    background: rgba(83,121,153, 0.5);
}
.col-sm-3
{
    background: rgba(83,121,153, 0.5);
}
