body{
	background-color:white;
  font-family:Helvetica, sans-serif;
  font-size:40px;
  font-weight:lighter;
  font-weight: 100;
}
h1{
font-size:.7em;
font-weight:lighter;
}
h2{
font-size:.4em;
font-weight:bolder;
font-weight: 100;
line-height: 1.5em;
}
h3{
font-size:.3em;
font-weight:lighter;
font-weight: 100;
color:grey;
}
h4{
font-size:.3em;
font-weight:bold;
padding-bottom:0px;
margin-bottom:0px;
}
h5{
font-size:.3em;
font-weight:lighter;

}
p{
font-size:.3em;
line-height: 1.5em;
}


::-webkit-scrollbar { 
    display: none; 
}

.layer{
  stroke:white;
  stroke-width:.15px;
}

.c2{
	width:95%;
	margin:auto;
}
/*.cont{
  width:80%;
}*/
.author-head{
  width:40%;
}
.row{
  width:100%;
  height:auto;
  position:relative;
  top:30px;
}


.information{
  width:30%;
  position:absolute;
  left:5;
  top:80px;
/*  height:60vh;
  overflow-y:scroll;*/
}

.info-scroll{
  z-index:100;
  height:30vh;
  overflow-y:scroll;
}
.inline{
  display:inline-block;
}

/*Stream graph ----------------------------- */
#stream{
  float:left;
  z-index:1;
	width:90%;
	height:70vh;
}

.hover{
  opacity:.5;
}
.myactive{
  opacity:.5;
}
/*Stream graph end -----------------------------
--------------------------------------------- */

.active-info{
  background-color:rgba(255,255,255,.8);
}


/*singleAxis graph ----------------------------- */
#singleAxis{
  float:right;
	width:10%;
	height:70vh;
}

/*singleAxis graph lines*/
.line{
  stroke-width:.4px;
	opacity:.3;
	color:black;
	fill:black;
	stroke:black;
}
/*singleAxis graph filtered lines*/
.highlight{
  opacity:1;
  stroke-width:1px;
}

/*singleAxis end -------------------------------
--------------------------------------------- */


.thisline{
  stroke:blue;
  stroke-weight:7px;
}

.selectedLine{
  stroke:#e84040;
  stroke-width:5px;
  opacity:1;
}




/* ----------------  axis -------------- */
.axis path, .axis line{
  fill: none;
  stroke: #777;
  stroke-width:.5px;
  shape-rendering: crispEdges;
  
}
.tick text{
  font-size:.3em;
}

.tick line {
  fill: none;
  stroke: #777;
  stroke-width:.5px;
}
/*axis end ----------------------------------
--------------------------------------------- */


/* ---------------- dropdown menus -------------- */
.controls{
  float:left;
  height:auto;

}
.controls .select{
  position:relative;
  display:inline-block;
  width:12%;
  min-width:120px;
  margin:0 0 0 0;
}

.controls .select .form-control{
  width:100%;
  height:auto;
}

select {
  font: 400 12px/1.3 "Helvetica", sans-serif;
  -webkit-appearance: none;
  appearance: none;
  border: .3px solid black;
  line-height: 1;
  outline: 0;
  color: black;
  border-color: #ddd;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: 1px;
  background: linear-gradient(#ddd, #ddd) no-repeat,
              linear-gradient(-135deg, rgba(255,255,255,0) 50%, white 50%) no-repeat,
              linear-gradient(-225deg, rgba(255,255,255,0) 50%, white 50%) no-repeat,
              linear-gradient(#ddd, #ddd) no-repeat;
  background-color: white;
  background-size: 1px 100%, 20px 20px, 20px 20px, 20px 60%;
  background-position: right 20px center, right bottom, right bottom, right bottom;   
}

.resume{
  color:#e84040;
}


/*dropdown menus end ------------------------
--------------------------------------------- */



